svg .scatter-background {
    fill: lavenderblush;
    pointer-events: none;
  }

svg .scatter-point {
    fill: steelblue;
    fill-opacity:0.6;
  }

/* applied to scatter-points when highlighted */
svg .scatter-point-highlight {
    fill:orange;
    fill-opacity:1;
    stroke:green;
  }

svg .reg-line {
      stroke:dodgerblue;
  }

svg .axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

svg .axis text {
  /* should be same as .grid .tick text */
    font-family: sans-serif;
    font-size: 1em;
  }

svg .axis-name {
    font-family: sans-serif;
    font-size: 1em;
  }

/* specify color, opacity of grid */
svg .grid .tick {
      stroke: lightgrey;
      opacity: 0.3;
  }

svg .grid .tick text {
    stroke:none;
    fill:black;

  /* should be same as .axis text */
    font-family: sans-serif;
    font-size: 1em;
  }

svg .grid path {
      stroke-width: 0;
      shape-rendering: crispEdges;
  }
